.page {
	color: #000000;
	font-weight: 400;
	font-family: 'Manrope', 'Helvetica Neue', 'Arial', sans-serif;
	font-style: 75;
	background-color: #ffffff;
	text-rendering: optimizelegibility;
}

.content {
	display: flex;
	flex-direction: column;
	min-width: 375px;
	min-height: 100vh;
}
